<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ComposeBasics"
        tools:targetApi="31">
        <activity
            android:name=".HomePageActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ComposeBasics">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BasicsCodelabActivity"
            android:exported="true"
            android:label="Basics Codelab"
            android:theme="@style/Theme.ComposeBasics" />
        <activity
            android:name=".ViewModelExperimentActivity"
            android:exported="true"
            android:label="ViewModel Experiment"
            android:theme="@style/Theme.ComposeBasics" />
        <activity
            android:name=".ComposeExperimentsActivity"
            android:exported="true"
            android:label="Compose Learning Lab"
            android:theme="@style/Theme.ComposeBasics" />
        <activity
            android:name=".architecture.ArchitectureActivity"
            android:exported="true"
            android:label="Architecture Lab"
            android:theme="@style/Theme.ComposeBasics" />
        <activity
            android:name=".lifecycleandandroidcomponents.AndroidComponentsNLifeCycleActivity"
            android:exported="true"
            android:label="Lifecycle &amp; Components"
            android:theme="@style/Theme.ComposeBasics" />
        <activity
            android:name=".networkingdatapersistence.NetworkingDataPersistenceActivity"
            android:exported="true"
            android:label="Networking &amp; Persistence"
            android:theme="@style/Theme.ComposeBasics" />
    </application>

</manifest>
